
ConsoleApplication17.VC.db
.vs/ConsoleApplication17/v14/.suo
*.vcxproj
*.filters
*.obj
*.idb
*.log
*.pdb
*.lastbuildstate
*.tlog
*.db
*.sln
*.db
*.ilk
*.exe
*.enc
*.cache
*.filters
*.vcxproj
*.vcxproj
*.filters
*.ipch
*.db-wal
*.db-shm
